@{
    var currentClothesType = ViewBag.CurrentClothesType ?? new EPManageWeb.Entities.Models.ClothesType();
}
<div class="left">
    <img src="@Url.Content("~/Images/Logo.png")" alt="EP Logo" />
</div>
<div class="right">
    @HttpContext.Current.Items["RealName"] @Html.ActionLink("退出", "logout", "Home")
</div>
<div class="center">
    <div class="quickSearch">
        <div class="title">样板编号/大货编号</div>
        <div class="quickSearchBox">
            <input type="text" id="txtSearchNO" name="NO" />
            <input type="image" id="imgSearch" height="35" src="@Url.Content("~/Images/submit.png")" />
        </div>
    </div>
    <div class="nav">
        <ul class="nav nav-pills">
            @foreach (var t in ViewBag.ClothesTypes as List<EPManageWeb.Entities.Models.ClothesType>)
            {
                if (t.Id == currentClothesType.Id)
                {
                <li><span class="active">@Html.ActionLink(@t.Name, "Index", new { id = t.Id })</span>
                    @if (t.Children != null && t.Children.Count > 0)
                    {
                        t.Children = t.Children.OrderBy(d => d.Id).ToList();
                        <ul class="nav nav-pills">
                            @foreach (var t1 in t.Children)
                            {
                                var isActive = t1.Id == currentClothesType.Id ? "active" : "";
                                <li class="width50percent @isActive">@Html.ActionLink(t1.Name, "Index", new { id = t1.Id })</li>
                            }
                        </ul>
                    }
                </li>
                }
                else
                {
                <li><span>@Html.ActionLink(@t.Name, "Index", new { id = t.Id })</span>
                    @if (t.Children != null && t.Children.Count > 0)
                    {
                        t.Children = t.Children.OrderBy(d => d.Id).ToList();
                        <ul class="nav nav-pills">
                            @foreach (var t1 in t.Children)
                            {
                                var isActive = t1.Id == currentClothesType.Id ? "active" : "";
                                <li class="width50percent @isActive">@Html.ActionLink(t1.Name, "Index", new { id = t1.Id })</li>
                            }
                        </ul>
                    }
                </li>
                }
            }
            <li><span><a href="#myModal" id="lnkAddClothes">添加款式</a></span></li>
            <li><span>@Html.ActionLink("修改密码", "ChangePassword", "User", null, null)</span></li>
            @if ((EPManageWeb.Entities.Models.UserType)HttpContext.Current.Items["UserType"] == EPManageWeb.Entities.Models.UserType.Admin)
            {
                <li><span>@Html.ActionLink("用户管理", "List", "User")</span></li>
                <li><span>@Html.ActionLink("使用统计", "Index", "Statistic")</span></li>
                <li><span>@Html.ActionLink("日志记录", "Index", "Log")</span></li>
                <li><span>@Html.ActionLink("界面编辑", "Edit", "Main", new { id = Model.Id }, new { target = "_blank" })</span></li>
            }
        </ul>
    </div>
</div>
<div class="clearfix"></div>
