@{
    ViewBag.Title = "分类-" + ViewBag.StyleInfo.Rows[0]["STYL_Code"];
    Layout = "~/Views/Shared/_NPaiaLayout.cshtml";
}

@section script{
    <link href="~/Areas/NPaia/Resources/Mobile.css" rel="stylesheet" />
    <script src="~/Scripts/IosSlider/jquery.iosslider.min.js"></script>
}
<style type="text/css">
        .iosSlider {
			width: 100%;
            height: 300px;
            position: relative;
	        overflow: hidden;
            padding: 25px 0;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #bbb;
            background: #ccc;
		}
		.iosSlider .slider {
			width: 100%;
			height: 100%;
		}
		.iosSlider .slider .item {
			height: 200px;
            width: 250px;
		}
        .iosSlider .slider .item img{
			height: 100%;
		}
		.iosSliderButtons {
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 200px;
			height: 10px;
		}
		.iosSliderButtons .button {
			float: left;
			width: 9px;
			height: 9px;
			background: #666;
			margin: 0 10px 0 0;
			opacity: 0.25;
			filter: alpha(opacity:25);
			border: 1px solid #000;
            border-radius:10px;
		}
		.iosSliderButtons .selected {
			background: #fff;
			opacity: 1;
			filter: alpha(opacity:100);
		}
</style>
<script type="text/javascript">
    $(function () {
        $(".iosSlider").iosSlider({
            desktopClickDrag: true,
            snapToChildren: true,
            snapSlideCenter: true,
            infiniteSlider: true,
            onSlideChange: slideContentChange,
            onSliderLoaded: slideContentLoaded
        });
        function slideContentChange(args) {
            $(args.sliderObject).parent().find(".iosSliderButtons .button").removeClass("selected");
            $(args.sliderObject).parent().find(".iosSliderButtons .button:eq(" + (args.currentSlideNumber - 1) + ")").addClass("selected");

        }
        function slideContentLoaded(args) {
            $(args.sliderObject).parent().find(".iosSliderButtons .button").removeClass("selected");
            $(args.sliderObject).parent().find(".iosSliderButtons .button:eq(" + (args.currentSlideNumber - 1) + ")").addClass("selected");
        }

        var width = 0;
        $(".iosSliderButtons .button").each(function () {
            width = width + $(this).outerWidth(true);
        })
        $(".iosSliderButtons").width(width);
        $(".iosSliderButtons").css("left", (screen.width - width) / 2);

        var evt = "onorientationchange" in window ? "orientationchange" : "resize";

        window.addEventListener(evt, function () {
            switch (window.orientation) {
                case 0:
                    $(".iosSliderButtons").css("left", (screen.width - width) / 2);
                    break;
                case -90:
                    $(".iosSliderButtons").css("left", (screen.height - width) / 2);
                    break;
                case 90:
                    $(".iosSliderButtons").css("left", (screen.height - width) / 2);
                    break;
                case 180:
                    $(".iosSliderButtons").css("left", (screen.width - width) / 2);
                    break;
            }
        }, false);
    });
</script>
<div class="iosSlider">
	<div class="slider">
        @foreach (string s in ViewBag.Img)
        {
            <div class="item">
                <img src="http://122.225.19.188:8090@{@s}">
		    </div>
        }
	</div>
	<div class="iosSliderButtons">
		@foreach (string s in ViewBag.Img)
        {
            <div class="button"></div>
        }
	</div>
</div>
<div id="name" style="text-align:left;">
    <div id="styleid" style="display: none;">@ViewBag.StyleInfo.Rows[0]["STYL_ID"]</div>
    <div style="margin: 5px;">@ViewBag.StyleInfo.Rows[0]["STYL_Name"]|@ViewBag.StyleInfo.Rows[0]["STYL_Code"]</div>
    <div style="margin: 5px;"><span style="color: red;display:none;" id="sellprice">@float.Parse(ViewBag.StyleInfo.Rows[0]["STYL_SellPrice"]).ToString("0.00")</span><span style="color: red;" id="price">@float.Parse(ViewBag.StyleInfo.Rows[0]["STYL_Price"]).ToString("0.00")</span></div>
</div>
<div class="split"></div>
<div id="sel">
    <table style="text-align: left;">
        <tr>
            <td style="width: 50px;">颜色:</td>
            <td id="color">
                @foreach (System.Data.DataRow dr in ViewBag.Color.Rows)
                {
                    if (@dr["STL2_Color"] != "")
                    {
                        <button name="@dr["STL2_Color"]" type="button" class="btn" data-toggle="button">@dr["STL2_Color"]</button>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>尺码:</td>
            <td id="size">
                @foreach (System.Data.DataRow dr in ViewBag.Size.Rows)
                {
                    if (@dr["STL2_Size"] != "")
                    {
                        <button name="@dr["STL2_Size"]" type="button" class="btn" data-toggle="button">@dr["STL2_Size"]</button>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>数量:</td>
            <td id="number">
                <div class="input-group" style="width: 170px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="oMin">-</button>
                    </span>
                    <input style="text-align: center;" type="text" pattern="[0-9]*" class="form-control" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="oPlus">+</button>
                    </span>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="split"></div>
<div id="oper">
    <button id="add" type="button" class="btn btn-success" style="width: 40%; margin: 10px 4%;">加入购物车</button>
    <button id="order" type="button" class="btn btn-success" style="width: 40%; margin: 10px 4%;">我要预购</button>
</div>
<div class="split"></div>
<div id="info" class="btn-group" data-toggle="buttons">
  <label class="btn active" id="showDetail" style="width: 100px;">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> 商品详情
  </label>
  <label class="btn" id="showBigImg" style="width: 100px;">
    <input type="radio" name="options" id="option2" autocomplete="off"> 商品相册
  </label>
</div>
<table id="detail">
    <tr>
        <td colspan="2">@ViewBag.StyleInfo.Rows[0]["STYL_Desp"]</td>
    </tr>
    <tr>
        <td>年份</td>
        <td>@ViewBag.StyleInfo.Rows[0]["STYL_Year"]</td>
    </tr>
    <tr>
        <td>季节</td>
        <td>@ViewBag.StyleInfo.Rows[0]["STYL_Season"]</td>
    </tr>
    <tr>
        <td>货号</td>
        <td>@ViewBag.StyleInfo.Rows[0]["STYL_Code"]</td>
    </tr>
    <tr>
        <td>风格</td>
        <td>@ViewBag.StyleInfo.Rows[0]["STYL_Type"]</td>
    </tr>
</table>
<table id="bigImg" style="display:none;">
    @foreach (string s in ViewBag.BigImg)
    {
        <tr>
            <td>
                <img src="http://122.225.19.188:8090@{@s}">
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    $("#order").click(function () {
        if (!$("#color button").hasClass("active")) {
            Msg.show("请选择颜色", 1);
            return;
        }
        if (!$("#size button").hasClass("active")) {
            Msg.show("请选择尺寸", 1);
            return;
        }

        window.location.href = "/NPaia/Goods/Order?sid=" + Url.get("sid") + "&oid=" + Url.get("oid")
            + "&styleid=" + $("#styleid").text()
            + "&color=" + $("#color button.active").text()
            + "&size=" + $("#size button.active").text()
            + "&number=" + $("#number input").val();
    })

    $("#add").click(function () {
        if (!$("#color button").hasClass("active")) {
            Msg.show("请选择颜色", 1);
            return;
        }
        if (!$("#size button").hasClass("active")) {
            Msg.show("请选择尺寸", 1);
            return;
        }
        //构造提交json的格式
        var paramData = {
            styleid: $("#styleid").text(),
            color: $("#color button.active").text(),
            size: $("#size button.active").text(),
            number: $("#number input").val(),
            price: $("#price").text(),
            sellprice: $("#sellprice").text()
        };

        Msg.show("提交中...", 3);
        $.post("/NPaia/Goods/AddShoppingCart?sid=" + Url.get("sid") + "&oid=" + Url.get("oid"), paramData, function (data) {
            Msg.hide();
            var rst = eval("(" + data + ")");

            if (rst[0].Result == "True") {
                Msg.show(rst[0].Message, 0);
            }
            else {
                Msg.show(rst[0].Message, 1);
            }
        });
    })

    $("#color button").click(function () {
        $.post("/NPaia/Goods/GetSize?sid=" + Url.get("sid") + "&oid=" + Url.get("oid") + "&styleid=" + $("#styleid").text() + "&color=" + $(this).text(), function (data) {
            var rst = eval("(" + data + ")");

            $("#size button").removeClass("do");
            for (var i = 0; i < rst.length; i++) {
                $("#size button[name='" + rst[i].STL2_Size + "']").addClass("do");
            }
            $("#size button").not(".do").removeClass("active");
            $("#size button").not(".do").attr("disabled", "disabled");
        });

        $("#color button").removeClass("active");
    });

    $("#size button").click(function () {
        $.post("/NPaia/Goods/GetColor?sid=" + Url.get("sid") + "&oid=" + Url.get("oid") + "&styleid=" + $("#styleid").text() + "&size=" + $(this).text(), function (data) {
            var rst = eval("(" + data + ")");

            $("#color button").removeClass("do");
            for (var i = 0; i < rst.length; i++) {
                $("#color button[name='" + rst[i].STL2_Color + "']").addClass("do");
            }
            $("#color button").not(".do").removeClass("active");
            $("#color button").not(".do").attr("disabled", "disabled");
        });

        $("#size button").removeClass("active");
    });

    $("#showDetail").click(function () {
        $("#detail").show();
        $("#bigImg").hide();
    });

    $("#showBigImg").click(function () {;
        $("#bigImg").show();
        $("#detail").hide();
    });

    $("#oMin").click(function () {
        if (parseInt($(this).parent().parent().find("input").val()) <= 1) {
            $(this).parent().parent().find("input").val("1");
        } else {
            $(this).parent().parent().find("input").val(parseInt($(this).parent().parent().find("input").val()) - 1);
        }
    });

    $("#oPlus").click(function () {;
        if ($.trim($(this).parent().parent().find("input").val()) == "") {
            $(this).parent().parent().find("input").val("1");
        } else {
            $(this).parent().parent().find("input").val(parseInt($(this).parent().parent().find("input").val()) + 1);
        }
    });

    $(".item img").click(function () {
        var srcList = [];
        $(".item img").each(function (i, item) {
            if (item.src) { srcList.push(item.src); }
        })
        WeixinApi.imagePreview(this.src, srcList);
    })
</script>