@{
    ViewBag.Title = "分类-" + ViewBag.Category;
    Layout = "~/Views/Shared/_NPaiaLayout.cshtml";
}

@section script{
    <link href="~/Areas/NPaia/Resources/Mobile.css" rel="stylesheet" />
}
<script type="text/javascript">
    $(function () {
        $(".name").width($("body").width() / 2 - 32);

        var evt = "onorientationchange" in window ? "orientationchange" : "resize";

        window.addEventListener(evt, function () {
            $(".name").width($("body").width() / 2 - 32);
        }, false);
    });
</script>
<ul style="padding: 0;">
@if (ViewBag.Category == "大衣")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/overcoat.png"/></li>
}
else if (ViewBag.Category == "外套")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/coat.png"/></li>
}
else if (ViewBag.Category == "卫衣")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/fleece.png"/></li>
}
else if (ViewBag.Category == "羽绒服")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/jacket.png"/></li>
}
else if (ViewBag.Category == "针织衫")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/knitwear.png"/></li>
}
else if (ViewBag.Category == "裤子")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/trousers.png"/></li>
}
else if (ViewBag.Category == "毛衫")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/sweater.png"/></li>
}
else if (ViewBag.Category == "裙子")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/dress.png"/></li>
}
else if (ViewBag.Category == "摩登羽绒")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merryFeathers.jpg"/></li>
}
else if (ViewBag.Category == "廓形大衣")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merryOvercoat.jpg"/></li>
}
else if (ViewBag.Category == "优雅针织")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merryKnit.jpg"/></li>
}
else if (ViewBag.Category == "柔暖毛衣")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merrySweater.jpg"/></li>
}
else if (ViewBag.Category == "塑形裤装")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merryTrousers.jpg"/></li>
}
else if (ViewBag.Category == "新派裘皮")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/merryFur.jpg"/></li>
}
else if (ViewBag.Category == "2015新品")
{
    <li><img src="~/Areas/NPaia/Resources/images/Goods/2015SS.jpg"/></li>
}
</ul>
<table id="skulist">
    <tbody>
        @for (int i = 0; i < ViewBag.StyleInfo.Rows.Count; i = i + 2)
        {
            if (@ViewBag.StyleInfo.Rows[i]["STYL_ID"] != "")
            {
                <tr>   
                    <td>
                        <div style="border:1px solid #ccc;">
                            <div><img class="bg" src="http://122.225.19.188:8090@{@ViewBag.StyleInfo.Rows[i]["STYL_PicturePath"].Split(',')[0].ToString()}" onerror="this.src='/Areas/NPaia/Resources/images/Goods/error.gif';"/></div>
                            <div class="name">@ViewBag.StyleInfo.Rows[i]["STYL_Name"]|<span class="code">@ViewBag.StyleInfo.Rows[i]["STYL_Code"]</span></div>
                            <div style="margin: 5px;"><span style="color: red;">@float.Parse(ViewBag.StyleInfo.Rows[i]["STYL_Price"]).ToString("0.00")</span></div>
                        </div>
                    </td>
                    @if (ViewBag.StyleInfo.Rows.Count == 1)
                    {
                    <td>
                    </td>
                    }
                    @if (i + 1 < ViewBag.StyleInfo.Rows.Count)
                    {
                    <td>
                        <div style="border:1px solid #ccc;">
                            <div><img class="bg" src="http://122.225.19.188:8090@{@ViewBag.StyleInfo.Rows[i + 1]["STYL_PicturePath"].Split(',')[0].ToString()}" onerror="this.src='/Areas/NPaia/Resources/images/Goods/error.gif';"/></div>
                            <div class="name">@ViewBag.StyleInfo.Rows[i + 1]["STYL_Name"]|<span class="code">@ViewBag.StyleInfo.Rows[i + 1]["STYL_Code"]</span></div>
                            <div style="margin: 5px;"><span style="color: red;">@float.Parse(ViewBag.StyleInfo.Rows[i + 1]["STYL_Price"]).ToString("0.00")</span></div>
                        </div>
                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    $("#skulist td").click(function () {
        if ($(this).find(".code").size() == 0)
            return;
        window.location.href = "/NPaia/Goods/SKUDetail?sku="+$(this).find(".code").text()+"&sid=" + Url.get("sid") + "&oid=" + Url.get("oid");
    })

</script>