<div class="left">
    <img src="@Url.Content("~/Images/Logo.png")" alt="EP Logo" />
</div>
<div class="right">
    @HttpContext.Current.Items["RealName"] @Html.ActionLink("退出", "logout", "Home")
    <a href="/Main/Edit/@Model.Id"><img src="@Url.Content("~/Images/Edit.jpg")" /></a>
</div>
<div class="center">
    <div class="quickSearch">
        <div class="title">样板编号/大货编号</div>
        <div class="quickSearchBox">
            <form action="/Clothes/SearchByNO" method="get">
                <input type="text" id="txtSearchNO" name="NO" />
                <input type="image" id="imgSearch" src="@Url.Content("~/Images/submit.png")" />
            </form>
        </div>
    </div>
    <div class="nav">
        <ul class="nav nav-pills">
            @foreach (var t in ViewBag.ClothesTypes as List<EPManageWeb.Entities.Models.ClothesType>)
            {
                
                <li><span>@Html.ActionLink(@t.Name, "Index", "Main", new { id = t.Id }, null)</span>
                    @if (t.Children != null && t.Children.Count > 0)
                    {
                        t.Children = t.Children.OrderBy(d => d.Id).ToList();
                        <ul class="nav nav-pills">
                            @foreach (var t1 in t.Children)
                            {
                                <li class="width50percent">@Html.ActionLink(t1.Name, "Index", "Main", new { id = t1.Id }, null)</li>
                            }
                        </ul>
                    }
                </li>
            }
            @if ((EPManageWeb.Entities.Models.UserType)HttpContext.Current.Items["UserType"] == EPManageWeb.Entities.Models.UserType.Admin)
            {
                <li><span><a href="#myModal" data-toggle="modal">添加款式</a></span></li>
                <li><span>@Html.ActionLink("使用统计", "Index", "Statistic")</span></li>
                <li><span>@Html.ActionLink("日志记录", "Index", "Log")</span></li>
            }
        </ul>
    </div>
</div>
<div class="clearfix"></div>
